<div ng-controller="CmsResourceCtrl">

    <form name="languageSelection">
        <h3>Language Selection</h3>
        <label>
            <input type="radio" ng-model="language" value="en">English
        </label>
        <p></p>
        <label>
            <input type="radio" ng-model="language" value="fr">French
        </label>

        <h3>Text</h3>

        <p>
            <cms-resource key="resource.accountOverview_salutation_lineOne" language="language"></cms-resource>
        </p>
        <p>
            <cms-resource key="resource.accountOverview_salutation_lineTwo" language="language"></cms-resource>
        </p>
        <h3>Text Including Link</h3>
        <p>
            <cms-resource-url key="resourceUrl.accountOverview_salutation_lineThree" language="language"></cms-resource-url>
        </p>
        <h3>Banner</h3>
        <p>
            <cms-resource-banner key="resourceBanner.accountOverview_banner_top" language="language"></cms-resource-banner>
        </p>
        <h3>Banner Inverted Data Structure</h3>
        <p>
            <cms-resource-banner-inverted key="resourceBannerInverted.accountOverview_banner_top" language="language"></cms-resource-banner-inverted>
        </p>
    </form>
</div>
<h3>Account Balance</h3>

<p>Your account balance is: {{balance}}</p>

